<h1 class="text-2xl">Ideas para el Dashboard</h1>
<ul>
  <li>Grafica de cobranza del mes</li>
  <li>Grafica de Morosidad de los ultimos meses</li>
  <li>Grafica de tickets levantados, tiempo de respuesta y % de resolusion</li>
  <li>Numero de morosos en el mes</li>
  <li>Saldo en el banco de los meses anteriores</li>
  <li>Total de ingresos y egresos del mes</li>
</ul>
<!-- Data enviada: {{ reportSignal() | json }} -->
<div class="stats shadow w-full mx-5">
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Cuotas del Mes</div>
    <div class="stat-value">158</div>
    <div class="stat-desc">Septiembre</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Recuadacion</div>
    <div class="stat-value">126,400.00</div>
    <div class="stat-desc">↗︎ 400 (62%)</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Morosidad</div>
    <div class="stat-value">152,200</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>
</div>

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 p-5 sm:w-full bg-base-300 2xl:grid-cols-4">

  <div class="card bg-base-100 shadow-sm w-fit sm:w-full">
    <div class="card-body items-center">
      <h2 class="card-title">Morosos del mes</h2>
      <hh-bar-chart [data]="reportSignal()" />
    </div>
  </div>

  <div class="card bg-base-100 shadow-sm w-fit sm:w-full">
    <div class="card-body items-center">
      <h2 class="card-title">Cobranza</h2>
      <hh-area-chart [data]="reportSignal()" />
    </div>
  </div>

  <div class="card bg-base-100 shadow-sm w-fit sm:w-full">
    <div class="card-body items-center">
      <h2 class="card-title">Saldo en la cuenta</h2>
      <hh-area-chart [data]="reportSignal()" />
    </div>
  </div>

    <div class="card bg-base-100 shadow-sm w-fit sm:w-full">
    <div class="card-body items-center">
      <h2 class="card-title">Cobranza</h2>
      <hh-bar-chart [data]="reportSignal()" />
    </div>
  </div>

</section>





<div class="stats shadow w-full">
  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Tickets del mes</div>
    <div class="stat-value">120</div>
    <div class="stat-desc">Sep 1st - Sep 30th</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Recuadacion por multas</div>
    <div class="stat-value">4,200</div>
    <div class="stat-desc">↗︎ 400 (22%)</div>
  </div>

  <div class="stat">
    <div class="stat-figure text-secondary">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-8 w-8 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4"
        ></path>
      </svg>
    </div>
    <div class="stat-title">Otros</div>
    <div class="stat-value">1,200</div>
    <div class="stat-desc">↘︎ 90 (14%)</div>
  </div>
</div>