<section class="flex flex-row items-center w-full">
    <div class="flex flex-col w-3/20 items-center justify-center min-w-18">
        <a routerLink="/home">
            <img src="/images/HappyHab64x64.png" alt="Happy Habitat" class="p-2">
        </a>
    </div>        
    <div class="w-8/20">
        <h1 class="text-4xl font-bold text-primary text-left pl-5">{{title}}</h1>
        <h2 class="text-2xl font-bold text-secondary text-left pl-5">{{subtitle}}</h2>
    </div>
    <div class="w-6/20">
        <hh-nav-bar/>
    </div>
    <div class="w-11/80">
        <hh-user-info class=" sm: w-full"/>
    </div>
</section>
<div class="flex flex-row px-0">
    <hh-breadcrums class="w-full"/>
</div>

