<div class="flex flex-col min-h-screen">
  <header class="bg-base-200">
        <hh-header/>
  </header>

  <main class="flex flex-1">
      <aside class="lg:w-1/6 bg-base-200 sm:min-w-14">
        <hh-left-menu/>
      </aside>

      <section class="flex-1 bg-base-150 p-0 min-sm:w-100">
        <router-outlet />
      </section>

      <aside class="w-1/8 bg-base-100 p-1 hidden lg:inline">
        <hh-right-bar/>
      </aside>
  </main>

  <footer class="bg-base-200 text-center">
    <hh-footer/>
  </footer>

</div>