<div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Reservaciones</h1>
    <p>Gestión de reservaciones de amenidades y espacios</p>

    El componente de vigilancia reservaciones permitira 
    ver las reservaciones de las amenidades y espacios de la comunidad a la que pertence el vigilante.

    Mostrara una tabla con las reservaciones, con las siguientes columnas:

    - Fecha y hora de la reservacion
    - Nombre del residente
    - Nombre de la amenidad o espacio
    - Estado de la reservacion
    - Acciones:
        - Ver reservacion
        - Cancelar reservacion
        - Modificar reservacion

</div>

