<hr>
<section class="mt-5">
    <!-- Filtrar por: {{ filtro() }} -->
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr class="bg-base-300 ">
                <th class="hidden lg:block" >#</th>
                <th class="text-center">Nombre completo</th>
                <th class="text-center">Tipo</th>
                <th class="hidden lg:block text-center" >Viviendas</th>
                <th  class="text-center">
                    <button class="btn bg-yellow-300 m-0"
                            (click)="new()" >
                        Nuevo
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
        @for (usuario of usuarios(); track usuario.id; let index = $index) {
          <tr>
            <td class="hidden lg:block">{{ $index + 1 }}</td>
            <td class="cursor-pointer" (click)="modalRef.showModal()">{{ usuario.ResidentInfo?.fullname }}</td>
            <td >{{ usuario.ResidentInfo?.email }}</td>
            <td class="hidden lg:block text-center"><span class="badge">{{ usuario.ResidentInfo?.phone }}</span></td>
            <td class="text-center">
                <button class="btn btn-ghost btn-outline btn-xs cursor-pointer mr-1" 
                      (click)="edit(usuario.id!)">Edit...</button>
                <button class="btn btn-ghost btn-outline btn-xs cursor-pointer " 
                      (click)="delete(usuario.id!)">Eliminar</button> 

                <dialog #modalRef id="unidadHab_modal" class="modal">
                    <div class="modal-box">
                        <h3 class="text-lg font-bold py-2">{{ usuario.ResidentInfo?.fullname }}</h3>
                    <hr>
                    <p class="py-4">
                        <strong>Tipo:</strong> {{usuario.ResidentInfo?.email}}
                    </p>
                    <p class="py-4">
                        <strong>Viviendas:</strong> {{usuario.ResidentInfo?.phone}}
                    </p>
                    <p class="py-4">
                        <strong>Ubicacion:</strong> {{usuario.ResidentInfo?.address}}
                    </p>
                    <p class="py-4">
                        <strong>Comunidades:</strong> {{usuario.ResidentInfo?.comunidades}}
                    </p>
                    <p class="py-4">
                        <strong></strong> 
                    </p>
                    <div class="modal-action">
                    <form method="dialog">
                    <!-- if there is a button in form, it will close the modal -->
                    <button class="btn">Cerrar</button>
                    </form>
                    </div>
                    </div>
                </dialog>

            </td>
          </tr>
        } @empty {
            <tr>
                <td colspan="5" class="text-center text-warning">No se encontraro información</td>
            </tr>
        }
        @if (errorMessage()) {
          <tr>
            <td colspan="5" class="text-center text-danger">{{ errorMessage() }}</td>
          </tr>
        }
        @if (isLoading()) {
          <tr>
            <td colspan="5" class="text-center">
              <span class="loading loading-spinner loading-lg"></span>
              Estamos trabajando...
            </td>
          </tr>
        }
        <tr>
            <td colspan="5" class="bg-base-200 text-center" >
                <hh-pagination [totalPages]="50" [currentPage]="24"/>
            </td>
        </tr>
        </tbody>
    </table>
</section>
<!-- <p>  Errores {{errorMessage()}} </p>
<p>  Esta cargando? {{isLoading()}}</p>
<p>  Los países son: {{ proveedores() | json }}</p> -->

<!-- {{proveedores() | json}} -->