<nav class="w-full p-2 sm:w-fit">    
    <div class="navbar bg-base-200 sm:menu-horizontal rounded-box shadow-sm p-1 py-0">
        <div class="navbar-start xs:hidden sm:hidden md:hidden lg:hidden xl:hidden p-1 py-0">
            <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> 
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-1 shadow flex">
                <li class="py-1">
                    <a class="btn" routerLink="comunicados" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-bullhorn"></i>
                        Comunicados
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="residentes" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-address-book"></i>
                        Residentes
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="amenidades" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-people-roof"></i>
                        Amenidades
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="proveedores" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-phone-volume"></i>
                        Proveedores
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="documentos" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-file-lines"></i>
                        Documentos
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="documentos" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-file-lines"></i>
                        Configuraci&oacute;n
                    </a>
                </li>
                <li class="py-1">
                    <a class="btn" routerLink="reportes" routerLinkActive="btn-secondary text-white">
                        <i class="fa-solid fa-chart-line"></i>
                        Reportes
                    </a>
                </li>
            </ul>
            </div>
        </div>
        <ul class="menu hidden menu-horizontal px-1 xs:flex sm:flex md:flex lg:flex xl:flex p-1">
            <li>
                <a class="btn" routerLink="comunicados" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-bullhorn"></i>
                    Comunicados
                </a>
            </li>
            <li>
                <a class="btn" routerLink="residentes" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-address-book"></i>
                    Residentes
                </a>
            </li>
            <li>
                <a class="btn" routerLink="amenidades" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-people-roof"></i>
                    Amenidades
                </a>
            </li>
            <li>
                <a class="btn" routerLink="proveedores" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-phone-volume"></i>
                    Proveedores
                </a>
            </li>
            <li>
                <a class="btn" routerLink="documentos" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-file-lines"></i>
                    Documentos
                </a>
            </li>
            <li>
                <a class="btn" routerLink="reportes" routerLinkActive="btn-secondary text-white">
                    <i class="fa-solid fa-chart-line"></i>
                    Reportes
                </a>
            </li>
        </ul>
    </div>
</nav>

