<p>Esta pagina permite registrar a una persona o grupo de personas que nos van a visitar</p>
<!-- <h2>Reactivos: Básicos</h2>
<hr>

<span>
    errors: 
    <pre>Name: {{ myForm.controls['name'].errors | json }}</pre>
    <pre>Price: {{ myForm.controls['price'].errors | json }}</pre>
    <pre>In Storage: {{ myForm.controls['inStorage'].errors | json }}</pre>
</span> -->
<div class="max-w-2xl mx-auto p-4 bg-base-200 rounded-box shadow-md">
    <h2 class="text-2xl font-bold mb-4 flex flex-row">
        <span class="text-2xl">
        <i class="fa-solid fa-truck-fast"></i> &nbsp;
        </span>
        <span>Registrar mudanza</span>
    </h2>
    
        <form autocomplete="off" 
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-4"
        [formGroup]="myForm" (ngSubmit)="onSave()">
                <div class="form-control">
                    <label class="label font-semibold">Residente:</label>
                    <input type="text"
                        class="input input-bordered"
                        placeholder="Nombre del visitante"
                        formControlName="residentname"
                        >
                    <!-- Con este validador verificamos los errores del campo -->
                    <show-form-error-template
                            [isValid]="formUtils.isValidField(myForm, 'residentname')"
                            [errorMessage]="formUtils.getFieldError(myForm, 'residentname')"
                    />
                </div>

                <!-- Campo Numero de personas -->
                <div class="form-control">
                    <legend class="label font-semibold">Direccion:</legend>
                    <input type="number"
                            class="input input-bordered w-1x"
                            placeholder="Direccion"
                            formControlName="address"
                            >
                    <!-- Con este validador verificamos los errores del campo -->
                    <show-form-error-template
                            [isValid]="formUtils.isValidField(myForm, 'address')"
                            [errorMessage]="formUtils.getFieldError(myForm, 'address')"
                    />
                </div>

                <div></div>

                <div class="form-control pr-5">
                    <legend class="label font-semibold">Compañia / vehiculo: </legend>
                    <input type="text"
                            class="input input-bordered w-50"
                            placeholder="Compañia o vehiculo"
                            formControlName="company"
                            >
                    <p class="label text-xs">Opcional</p>
                    <!-- Con este validador verificamos los errores del campo -->
                    <show-form-error-template
                            [isValid]="formUtils.isValidField(myForm, 'company')"
                            [errorMessage]="formUtils.getFieldError(myForm, 'company')"
                    />
                </div>

                <div class="form-control">
                    <legend class="label font-semibold">Placas del vehiculo:</legend>
                    <input type="text"
                            class="input input-bordered w-50"
                            placeholder="Placas"
                            formControlName="carplates"
                            >
                    <p class="label text-xs">Opcional</p>
                    <!-- Con este validador verificamos los errores del campo -->
                    <show-form-error-template
                            [isValid]="formUtils.isValidField(myForm, 'carplates')"
                            [errorMessage]="formUtils.getFieldError(myForm, 'carplates')"
                    />
                </div>
                <!-- 📅 Fechas de ingreso y salida -->
                <div class="flex gap-4 flex-wrap sm:flex-nowrap w-66">
                    <div class="form-control w-1/2">
                        <label class="label  font-semibold" for="arriveDate">Fecha de ingreso</label>
                        <input id="arriveDate" type="date" formControlName="arriveDate" class="input input-bordered" />
                            <show-form-error-template
                                    [isValid]="formUtils.isValidField(myForm, 'arriveDate')"
                                    [errorMessage]="formUtils.getFieldError(myForm, 'arriveDate')"
                            />
                    </div>
                    <!-- <div class="form-control w-1/2">
                    <label class="label  font-semibold" for="departureDate">Fecha de salida</label>
                    <input id="departureDate" type="date" formControlName="departureDate" class="input input-bordered" />
                    </div> -->
                </div>


            <div class="col-span-3 text-center">
                <!-- [disabled]="myForm.invalid" -->
                <button type="submit"
                        class="btn btn-primary text-white"
                        >
                    Guardar
                </button>
            </div>



        </form>

    </div>





<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid| json }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine| json }}</pre>

        <span>Touched</span>
        <pre>{{ myForm.touched| json }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

        <span>Visitante</span>
        <pre>{{ myForm.controls['residentname'].value | json }}</pre>

        <span>personas</span>
        <pre>{{ myForm.controls['residentname'].value | json }}</pre>
    </div>
</div>
