<div class="join text-center">
    <button class="join-item btn"><i class="fa-solid fa-angles-left"></i></button>
    <button class="join-item btn"><i class="fa-solid fa-angle-left"></i></button>
    <button class="join-item btn">{{currentPage()}}</button>
    <button class="join-item btn btn-disabled">...</button>
    <button class="join-item btn btn-active">{{totalPages()}}</button>
    <button class="join-item btn"><i class="fa-solid fa-angle-right"></i></button>
    <button class="join-item btn"><i class="fa-solid fa-angles-right"></i></button>
</div>
