    <li class="py-1 m-0">
      <a [routerLink]="menuitem().path" routerLinkActive="bg-primary text-white" >
      @if(menuitem().icon) {
        <span class="relative group">
          <span class="hidden lg:inline text-2xl">
            <i [class]="menuitem().icon" class="text-primary" routerLinkActive="text-white" ></i> 
          </span> 
          <span class="tooltip tooltip-right sm:block lg:hidden" 
                [attr.data-tip]="menuitem().title">
                <i [class]="menuitem().icon" class="text-2xl text-primary" routerLinkActive="text-white" ></i>
          </span>
        </span>
      }
       <span class="hidden lg:inline">{{ menuitem().title }}</span>
    </a></li>