<div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Tickets</h1>
    <p>Gestión de tickets y solicitudes de vigilancia</p>

    El componente de vigilancia tickets permitira 
    registrar y seguir el seguimiento de los tickets y solicitudes de vigilancia de la comunidad a la que pertence el vigilante.

    Mostrara una tabla con los tickets, con las siguientes columnas:

    - Fecha y hora del ticket
    - Nombre del residente
    - Descripcion del ticket
    - Estado del ticket
    - Respuesta del ticket
    - Acciones:
        - Ver ticket
        - Modificar ticket
        - Eliminar ticket
    
</div>

