<div class="p-4">
    <h1 class="text-2xl font-bold mb-4">Residentes</h1>
    <p>Gestión y control de residentes</p>

    El componente de vigilancia residentes permitira buscar 
    los residentes de la comunidad a la que pertence el vigilante 
    por numero de casa o por nombre nombre, apellido, etc.

    Mostrara una tabla con los residentes, con las siguientes columnas:

    cuando se encuentre al residente, se podra seleccionar el residente y se podra ver 
    el las visitas registradas del residente para ver si el residente ya la habia autorizado 
    o si necesita autorizar la visita, asi como otras indicaciones que el residente haya especificado


    
</div>

